.grid {
  display: grid;
}

.grid-flow-col {
  grid-auto-flow: column;
}

img {
  width: 100%;
}

.icon {
  width: 7%;
}

.grid-cols2 {
  grid-template-columns: 1fr 1fr;
}

.gap16 {
  gap: 16px;
}

.gap32 {
  gap: 32px;
}

.text-2xl {
  font: var(--h1);
}

.text-xl {
  font: var(--h2);
}

.text-lg {
  font: var(--h3);
}

.text-sml {
  font: var(--text-sm);
}
